* {
  margin:0; /*внешние отступы*/
  padding: 0; /*внутренние отступы*/
}
html,body {
  height: 100%; /*высота*/
  background-color: #F2F2F2; /*цвет фона*/
}
html {
  scroll-behavior: smooth; /*плавная прокрутка*/
}
header, main, footer {
  width: 100%; /*ширина*/
  margin: 0 auto; /*внешние отступы (авто)*/
}
header {
  display: flex;
  height: 89px; /*высота*/
  background: rgba(0, 0, 0, 0.91); /*цвет фона*/
}
main {
  display: flex;
  flex-direction: column; /*расположение компонентов с веху вниз*/
  width: 100%;
  max-width: 1920px;
  text-align: center;
}
footer {
  display: flex;
  height: 185px; /*высота*/
  background: rgba(0, 0, 0, 0.91); /*цвет фона*/
}
.center {
  left: 50%; /* Позиционирование по горизонтали */
  transform: translate(-50%, -50%); /* Центрирование текста */
}
.content {
  display: flex; /*flex-контейнер*/
  flex-direction: column; /*расположение компонентов с веху вниз*/
  height: 100%; /*высота*/
  min-height: 100%; /*мин высота*/
  height: auto !important; /*высота с приоритетом*/
  width: auto; /*ширина*/
  margin-top: 0; /*отступы с верху*/
  margin-bottom: 0; /*отступы с низу*/
  margin-left: auto; /*отступы с лева*/
  margin-right: auto; /*отступы с права*/
}
.name-game {
  font-style: normal;
  font-weight: 400; /*толщина букв*/
  font-size: 23px; /*размер шрифта*/
  color: #FFFFFF; /*цвет*/
  text-decoration: none; /*убираем подчёркивание*/
}
#headernav ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0;
  padding-left: 35px;
  padding-top: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400; /*толщина букв*/
  font-size: 20px; /*размер шрифта*/
  letter-spacing: 0.5px; /*интервал между буквами*/
}
#headernav li {
  display: inline; /*выстраиваем пункты меню в ряд*/
}
#headernav a {
  text-decoration: none; /*убираем подчёркивание*/
  color: white;
  margin-left: 50px; /*внешние отступы с лева*/
}
#team {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}
#logo{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.opacity:active {
  opacity: 0.6;
}
.team {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400; /*толщина букв*/
  font-size: 20px; /*размер шрифта*/
  letter-spacing: 0.5px; /*интервал между буквами*/
  color: #FFFFFF;
}
#greeting {
  position: relative;
  width: 100%;
  height: 1080px;
}
.mainimg {
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  filter: blur(6.5px);
}
.main-name-game{
  position: absolute; /* Текст - абсолютная позиция */
  top: 45%; /* Позиционирование по вертикали */
  left: 50%; /* Позиционирование по горизонтали */
  transform: translate(-50%, -50%); /* Центрирование текста */
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 63px;
  color: #FFFFFF;
  text-shadow: 0px -1px 4px #000000, 0px 1px 4px #000000;
}
.slogan {
  position: absolute;
  top: 52%; /* Позиционирование по вертикали */
  left: 50%; /* Позиционирование по горизонтали */
  transform: translate(-50%, -50%); /* Центрирование текста */
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #FFFFFF;
  text-shadow: 0px -1px 4px #000000, 0px 1px 4px #000000;
}
.frame1 {
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center; /* по вертикали */
  position: absolute;
  width: 100%;
  max-width: 1920px;
  height: 131px;
  top: 1015px;

  background: rgba(0, 0, 0, 0.91);
}
.titlecom1 {     
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
.main {
  display: flex;
  align-items: center; /* по вертикали */
  height: auto;
}
.photo1 {
  width: 563.83px;
  height: 317px;
  padding-left: 35px;
  border-radius: 17px;
}
.description {
  text-align: left;     /* текст внутри ссылки прижат влево */
  width: auto;
  height: auto;
  padding-left: 74px;
  padding-right: 81px;
  padding-top: 164px;
  padding-bottom: 160px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}
.frame {
  position: relative;
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center; /* по вертикали */
  width: 100%;
  max-width: 1920px;
  height: 131px;
  flex-shrink: 0;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.91);
}
.titlecom {     
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
#pers {
  padding-left: 95px;
  padding-top: 51px;
  padding-bottom: 51px;
}
.character-description {
  text-align: left;     /* текст внутри ссылки прижат влево */
  width: auto;
  height: auto;
  padding-left: 152px;
  padding-right: 98px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}
.person1 {
  width: 358.35px;
  height: 513px;
}
.person2 {
  width: 395.77px;
  height: 532px;
}
.person3 {
  width: 321.2px;
  height: 532px;
}
.person4 {
  width: 337px;
  height: 450px;
}
.person5 {
  width: 378px;
  height: 440px;
}
.frame {
  position: relative;
  display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center; /* по вертикали */
  width: 100%;
  max-width: 1920px;
  height: 131px;
  flex-shrink: 0;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.91);
}
.level1 {
  display: flex;
  align-items: center; /* по вертикали */
  flex-direction: column; /*расположение компонентов с веху вниз*/
  text-align: left;     /* текст внутри ссылки прижат влево */
  width: auto;
  height: auto;
  padding-left: 54px;
  padding-right: 43px;
  padding-top: 68px;
  padding-bottom: 84px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}
.location-description1 {
  padding-bottom: 21px;
}
.location-description2 {
  padding-top: 21px;
}
.photo2 {
  width: 896.44px;
  height: 504px;
  border-radius: 17px;
  padding-left: 34px;
  padding-top: 105px;
  padding-bottom: 127px;
}
.level2 {
  display: flex;
  align-items: center; /* по вертикали */
  flex-direction: column; /*расположение компонентов с веху вниз*/
  text-align: left;     /* текст внутри ссылки прижат влево */
  width: auto;
  height: auto;
  padding-left: 44px;
  padding-right: 108px;
  padding-bottom: 61px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
}
.photo3 {
  width: 827px;
  height: 465px;
  border-radius: 17px;
  padding-bottom: 35.5px;
  padding-right: 34px;
}
.photo4 {
  width: 827px;
  height: 465px;
  border-radius: 17px;
  padding-top: 35.5px;
  padding-right: 34px;
}
.location-description3 {
  padding-bottom: 21px;
}
.location-description4 {
  padding-bottom: 21px;
  padding-top: 21px;
}
.location-description5 {
  padding-top: 21px;
}
.main0 {
  display: flex;
  flex-direction:row-reverse;
  align-items: center; /* по вертикали */
}
.level-img {
  display: flex;
  flex-direction:column;
  align-items: center; /* по вертикали */
}
#footernav ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0;
  padding-left: 14px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400; /*толщина букв*/
  font-size: 16px; /*размер шрифта*/
  letter-spacing: 0.5px; /*интервал между буквами*/
}
#footernav li {
  display: inline; /*выстраиваем пункты меню в ряд*/
}
#footernav a {
  text-decoration: none; /*убираем подчёркивание*/
  color: white;
  margin-left: 50px; /*внешние отступы с лева*/
}
#footernav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.sticky-header {
  position: fixed;
  top: 0;  /* Критически важно! */
  z-index: 1000;  /* Шапка должна быть поверх других элементов */
}
#scroll2 {
  scroll-margin-top: 89px;
}
#scroll3 {
  scroll-margin-top: 89px;
}
#scroll4 {
  scroll-margin-top: 89px;
}
#scroll5 {
  scroll-margin-top: 89px;
}